.Box {
  border: 1px solid white;
  background-color: white;
  margin-top: 10px;
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;

  /* box-shadow: 5px 2px grey; */
}
.Details_box {
  border: 1px solid white;
  background-color: white;
  margin-top: 10px;
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 10px;
}
.avtar-contactDetails {
  display: flex;
  justify-content: center;
}
.Main {
  height: 100vh;
  width: 100vw;
  background-color: #79defd;
  display: flex;
  justify-content: center;
  align-content: center;
}
.content {
  display: flex;
}
.Avtar {
  padding: 0px 10px;
}
.contact-name {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.contact-email {
  display: flex;
  justify-content: center;
}
.contact-content {
  display: flex;
  flex-direction: column;
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.MainBox {
  width: 30%;
  background-color: #0d8cb3;
  /* display: flex;

  flex-direction: column; */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .MainBox {
    width: 100%;
    background-color: #0d8cb3;
  }
}
@media only screen and (max-width: 992px) {
  .MainBox {
    width: 100%;
    background-color: #0d8cb3;
  }
}
